html,body {
  width: 100%;
  height: 100%;
}

.app_container {
  width: 80%;
  margin: 20px auto 0 auto; 
  min-width: 400px;
}

nav.app_main_navigation {
  margin-bottom: 20px;
}

.post_input_container {
  margin-top: 10px;
}

.post_input_button {
  margin-top: 10px;
}

.sign_up_container_inputs {
  margin: 20px auto auto auto;
  padding: 10px 20px;
}

.sign_in_prompt {
  margin-top: 10px;
  text-align: center;
}

.main_nav_signout_button {
  float: right;
  cursor: pointer;
}