html {
  margin: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.quote-generator-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.quote-generator-container a {
  text-decoration: none;
  color: gray;
}

.quote-generator-container a:hover {
  border-bottom: 1px dashed gray;
}

.generator-container {
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
}

.quote-box {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 40px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .quote-box {
    width: 85%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 5px;
  left: 0;
}

.button-container label {
  line-height: 50px;
  margin: 0 5px;
}

.button-container input {
  height: 50px;
  margin: 0 5px;
}

.generate-button {
  font-size: 1.3rem;
  padding: 10px 32px;
  background-color: rgba(226, 226, 226, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  cursor: pointer;
  margin: 0 5px;
}
