body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  position: relative;
}

div.App__pageContainer {
  max-width: 800px;
  margin: 0 auto;
}

main {
  min-height: 50vh;
  padding-bottom: 40px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
  position: absolute;
}