html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.App {
  background: rgb(52, 42, 222);
  background: linear-gradient(
    90deg,
    rgba(52, 42, 222, 1) 0%,
    rgba(29, 157, 30, 1) 100%
  );
  width: 100%;
  min-height: 100vh;
  color: peachpuff;
}

.App h1 {
  margin-top: 0;
  padding: 10px 0 0 10px;
}

.remembrall-container {
  margin-top: 10%;
  text-align: center;
}

.remembrall-container img {
  width: 50%;
}

.memory-input-container {
  margin-top: 5%;
  padding: 10px;
  text-align: center;
}

.memory-input-container input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid purple;
  border-radius: 5px;
  width: 60%;
}

.memory-input-container button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 5px;
  border: 1px solid gray;
  border-radius: 4px;
}

.memory-input-container button:hover {
  cursor: pointer;
}

.buttons-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.clear-button {
  padding: 10px 15px;
  font-size: 16px;
}

.clear-button:hover {
  cursor: pointer;
}
