canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

/* main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

h1,h2,h3 {
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
} */