body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global styles */
.text-center {
  text-align: center;
}

/* app styles */
.app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #3a8181;
}

.app__pageContainer {
  margin-top: 5%;
}

.app__pageRow {
  width: 100%;
  display: block;
}

.app__pageColumn {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* pomodoro */
.pomodoro__timerContainer {
  width: 250px;
  margin: 0 auto;
  position: relative;
}

.pomodoro__timer {
  font-size: 50px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 100px;
  left: 25%;
}

.pomodoro__button {
  padding: 5px;
  font-size: large;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D7B061;
  border: 1px solid black;
}

.pomodoro__button:hover {
  background-color: #b69451;
}

/* header */
header.header {
  max-width: 66%;
  min-width: 350px;
  margin: 0 auto;
}

.header__title {
  color: #D7B061;
}

.header__description {
  color: #FFEBC2;
  font-size: 19px;
}

.header__descriptionLink {
  color: #172C5D;
}

/* navbar */
nav.navbar {
  top: 0;
  margin: 0;
  width: 100vw;
  background-color: rgba(255, 235, 194, 0.41);
  padding: 10px 0;
}

nav.navbar > h2 {
  color: black;
  margin: 0;
  padding: 0 10px;
}

/* footer */
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 5px 0;
  background-color: black;
  color: whitesmoke;
}

footer.footer > a {
  color: #6CD638;
}