html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 75% 5%;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App > header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header h1 {
  margin: 0 auto;
  padding: 10px 0 0 0;
}

header p {
  margin: 0.5em;
}

div.map-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}