:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
}

html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

main.photos {
  padding: 10px;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}

main.cart-page {
  padding: 10px;
}

.cart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;   
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.favorite {
  color: var(--red);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink);
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

a {
  text-decoration: none;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }