div.location-panel {
  text-align: center;
}

div.location-content-container {
  max-width: 80vw;
  margin: 0 auto;
}

h5.location-subtitle {
  margin: 0;
  font-size: 1.2em;
}

div.location-content-container p {
  margin: 0;
}

div.location-content-container img {
  min-width: 400px;
  margin: 10px auto;
}

h5.hours-subtitle {
  margin-top: 20px;
}

.location-panel .responsive-ctas-container {
  margin-top: 20px;
}