div.header-banner {
  height: 70px;
  width: 100%;
  background-color: black;
  color: #e953bb;
  text-align: center;
}

span.banner-text {
  font-family: 'TradeGothicMT-Bold', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 70px;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 350px) {
  span.banner-text {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  span.banner-text {
    font-size: 13px;
  }
}
