.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.post__posterInfo {
  display: flex;
  align-items: center;
}

.post__avatar {
  margin-right: 5px;
}

.post__flagButton {
  color: darkred;
  border: none;
  background: transparent;
  cursor: pointer;
}

.post__commentContainer {
  padding: 3px 20px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  background-color: transparent;
  color: #6082a3;
  cursor: pointer;
}